@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
::after,
::before {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  width: 8px;
  background-color: #adadad;
}

html::-webkit-scrollbar-thumb {
  background-color: #303030;
  border-radius: 10px;
}
