@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* -- -- navbar start -- -- */
.navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px;

  position: fixed;
  top: 0;
  left: 0;
}
.logo-link {
  font-size: 1.2em;
  font-weight: bold;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #303030;

  transition: 0.2s ease all;

  padding: 16px;
  opacity: 0.6;
}
.nav-link:hover {
  opacity: 1;
}

@media (max-width: 400px) {
  .navbar {
    justify-content: space-around;
  }
  .logo {
    display: none;
  }
}
/* -- -- navbar end -- -- */

/* -- -- form start -- -- */
.form-group {
  display: flex;
  flex-direction: column;

  margin-bottom: 16px;
}

label {
  margin-bottom: 8px;
}

.input {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 8px 16px;

  outline: none;
}

.input:focus {
  border: none;
  border: 1px solid dodgerblue;

  box-shadow: 0 0 5px dodgerblue;
}
textarea {
  resize: none;
}
.btn {
  padding: 8px 16px;

  border: none;
  border-radius: 5px;
  outline: none;

  color: white;
  font-weight: bold;
  font-size: 1em;

  cursor: pointer;

  transition: 0.3s ease all;
}

.btn:hover {
  box-shadow: 0 0 5px dodgerblue;
}

.danger {
  background: tomato;
}
.primary {
  background: dodgerblue;
}
/* -- -- form end -- -- */
