.nav-link {
  color: white;
}
.container {
  display: grid;
  place-items: center;

  background: url("img/home_bg.jpg");
  background-position: center;
  background-size: cover;

  width: 100%;
  min-height: 100vh;
}
.user-pdp {
  border-radius: 100%;
}

.profile-card {
  background: linear-gradient(120deg, #2193b0, #6dd5ed);
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  min-width: 300px;
  max-width: 400px;
  display: grid;
  place-items: center;
}

.profile-body {
  margin: 8px 0;
  width: 80%;
}

.profile-footer {
}
.profile-link {
  color: black;
}
